body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Regular weight */
  }

  /* Center toasts at the top */
#toast-success, #toast-danger, #toast-warning {
  display: none; /* Initially hidden */
  position: fixed; /* Position fixed to place it relative to the viewport */
  top: 20px; /* Distance from the top */
  left: 50%; /* Move to the center horizontally */
  transform: translateX(-50%); /* Adjust to truly center by shifting half of its width */
  z-index: 9999; /* Ensure it's above other elements */
  width: auto; /* Adjust width */
  max-width: 400px; /* Set max width for better appearance */
  margin: 0 auto; /* Center the toast horizontally */
}
